@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');

body {
    font-family: "Russo One", sans-serif;
    color: #ffffff;
    -webkit-tap-highlight-color: transparent;
    margin: 0; 
    padding: 0; 
}

:root {
    --purple: #540351; 
    --blue: #3627b1; 
    --cyan: #25afce; 
    --transparent: rgba(0, 0, 0, 0);
    --radius-left: 3rem 0 0 3rem; 
    --radius-right: 0 3rem 3rem 0; 
}

button:hover, 
.class-sub-container a:hover, 
.item:not(.active):hover,
.skill-item:hover, 
.project-item:hover,
.sub-container2:not(.active-subheading):hover,
.sub-container3:not(.active-subheading):hover {
    background-image: linear-gradient(90deg, #ffffff00, #ffffff42 50%, #ffffff00);
}

